.full-height {
  height: 100vh;
  /* Establece la altura al 100% del viewport */
}

.perfil-card {
  max-width: 350px;
}

.perfil-header-image {
  background-image: url('./img/logo.png');
  background-size: cover;
}