
<div class="container col-md-10">

    <div class="card-header mt-2 opacity-25">
      <h1 class="text-dark text-center"> REGISTRO DE INVENTARIO</h1>
    </div>
     
    <mat-card>
      <form action="" class="m-3">
       
        <div class="example-container mx-4 d-flex justify-content-between"> 
            <mat-form-field  class="example-full-width" >
              <mat-label> Tipo de Inventario:</mat-label>
              <mat-select [(ngModel)]="modelCabeceraInventario.tipo_inventario" name="tipo_inventario" required>
                <mat-option  [value]="0"> Entrada </mat-option>
                <mat-option  [value]="1"> Salida </mat-option>  
              </mat-select>        
            </mat-form-field>
          
              <mat-form-field class="example-full-width" >
                <mat-label>Fecha de Inventario:</mat-label>
                <input matInput type="date" placeholder="fecha_cab_inventario" [(ngModel)]="modelCabeceraInventario.fecha_cab_inventario" name="fecha_cab_inventario" required>
              </mat-form-field>

            </div>  
          
          <div class="example-container d-flex justify-content-around"> 
            <mat-form-field class=" example-full-width " >
              <mat-label>Estado:</mat-label>
              <mat-select [(ngModel)]="modelCabeceraInventario.estado" name="estado" required>
                <mat-option  [value]="0"> Realizado </mat-option>
                <mat-option  [value]="1"> Pendiente </mat-option>
                <mat-option  [value]="2"> Anulado </mat-option>
              </mat-select>
            </mat-form-field>
           
          <mat-form-field class="example-full-width "  >
            <mat-label>Nombre del Empleado:</mat-label>
             <mat-select [(ngModel)]="modelCabeceraInventario.empleado.id" name="empleado"  required>
              <mat-option *ngFor="let empleado of empleados"[value]="empleado.id">
                {{empleado.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="example-container  d-flex justify-content-center mt-5 mb-3"> 
          <button  color="basic" mat-raised-button (click)="guardarCabeceraInventario(modelCabeceraInventario)">Grabar<mat-icon class="text-dark">save</mat-icon></button>
         </div>
      </form>
    </mat-card>
  
  </div>