
<div class="container col-md-10">

    <div class="card-header mt-2 opacity-25">
      <h1 class="text-dark text-center"> registrar-cabecera-inventario!</h1>
    </div>
     
    <mat-card>
      <form action="" class="m-3">
       
        <div class="example-container mx-4 d-flex justify-content-between"> 
            <mat-form-field hintLabel="Max 10 characters" class="example-full-width">
              <mat-label> Tipo de Inventario:</mat-label>
              <input matInput type="number"   placeholder="tipo_inventario" [(ngModel)]="modelCabeceraInventario.tipo_inventario" name="tipo_inventario" required>
             
            </mat-form-field>
          
              <mat-form-field class="example-full-width" >
                <mat-label>Fecha de Inventario:</mat-label>
                <input matInput type="date" placeholder="fecha_cab_inventario" [(ngModel)]="modelCabeceraInventario.fecha_cab_inventario" name="fecha_cab_inventario" required>
                <mat-hint>Formato: dd/MM/YYYY</mat-hint>
              </mat-form-field>

            </div>  
          
          <div class="example-container d-flex justify-content-around"> 
            <mat-form-field class=" example-full-width " hintLabel="min 0 y max 3">
              <mat-label>Estado:</mat-label>
              <input matInput type="number" #input min="0" max="3" placeholder="Estado" [(ngModel)]="modelCabeceraInventario.estado" name="estado" required>
              <mat-hint class="text-dark" align="end">{{modelCabeceraInventario.estado}}/1</mat-hint>
            </mat-form-field>
        
          <mat-form-field class="example-full-width " hintLabel="min 1 y max 1000" >
            <mat-label>Nombre del Empleado:</mat-label>
            <input matInput type="number" #input min="1" max="1000"  placeholder="id_empleado" [(ngModel)]="modelCabeceraInventario.id_empleado" name="nomempleado" required>
            <mat-hint class="text-dark" align="end">{{modelCabeceraInventario.id_empleado}}/1000</mat-hint>
          </mat-form-field>
        </div>
        <div class="example-container  d-flex justify-content-center mt-5 mb-3"> 
          <button  color="basic" mat-raised-button (click)="guardarCabeceraInventario(modelCabeceraInventario)">Grabar<mat-icon class="text-dark">save</mat-icon></button>
         </div>
      </form>
    </mat-card>
  
  </div>