<div class="container col-md-10">
    <div class="card-header mt-2 opacity-25">
      <h1 class="text-dark text-center"> Actualizar orden de compra!</h1>
    </div>
    <mat-card>
      <form action="" class="m-3">  
        <div class="example-container d-flex justify-content-around"> 
            <mat-form-field hintLabel="Max 10 characters" class="example-full-width">
              <mat-label>ID. de Orden de Compra:</mat-label>
              <input matInput type="number" placeholder="id_orden_compra" [(ngModel)]="ordenCompraUpdate.id_orden_compra" name="id_orden_compra" required readonly>
            </mat-form-field>

            <mat-form-field hintLabel="Max 10 characters" class="example-full-width">
                <mat-label>Nro. de Orden de Compra:</mat-label>
                <input matInput type="text"  #input maxlength="10" placeholder="nro_orden_compra" [(ngModel)]="ordenCompraUpdate.nro_orden_compra" name="nro_orden_compra" required>
                <mat-hint class="text-dark" align="end">{{ordenCompraUpdate.nro_orden_compra.length}}/10</mat-hint>
              </mat-form-field>
          </div>
          <div class="example-container d-flex justify-content-around"> 
              <mat-form-field class="example-full-width" >
                <mat-label>Fecha de Orden de Compra:</mat-label>
                <input matInput type="date" placeholder="fechaorden_compra" [(ngModel)]="ordenCompraUpdate.fechaorden_compra" name="fechaorden_compra" required>
                <mat-hint>Formato: dd/MM/YYYY</mat-hint>
              </mat-form-field>

              <mat-form-field class="example-full-width" >
                <mat-label>Fecha de Entrega:</mat-label>
                <input matInput type="date" placeholder="fechaentrega" [(ngModel)]="ordenCompraUpdate.fechaentrega" name="fechaentrega" required>
                <mat-hint>Formato: dd/MM/YYYY</mat-hint>
              </mat-form-field>
          </div>
          <div class="example-container d-flex justify-content-around"> 
            <mat-form-field class="example-full-width " hintLabel="Max 25 characteres" >
              <mat-label>Condiciones de Pago:</mat-label>
              <input matInput type="text" #input maxlength="25" placeholder="condicionespago" [(ngModel)]="ordenCompraUpdate.condicionespago" name="condicionespago" required>
              <mat-hint class="text-dark" align="end">{{ordenCompraUpdate.condicionespago.length}}/25</mat-hint>
            </mat-form-field>
        
            <mat-form-field class="example-full-width " floatLabel="always">
              <mat-label>Valor Total de la Orden:</mat-label>
              <input matInput type="number" placeholder="valortotal_orden" class="example-right-align" [(ngModel)]="ordenCompraUpdate.valortotal_orden" name="valortotal_orden" required>
              <span matTextPrefix>$&nbsp;</span>
              <span matTextSuffix>.00</span>
            </mat-form-field>
          </div>
          <div class="example-container d-flex justify-content-around"> 
            <mat-form-field class=" example-full-width " hintLabel="min 0 y max 3">
              <mat-label>Estado:</mat-label>
              <input matInput type="number" #input min="0" max="3" placeholder="Estado" [(ngModel)]="ordenCompraUpdate.estado" name="estado" required>
              <mat-hint class="text-dark" align="end">{{ordenCompraUpdate.estado}}/1</mat-hint>
            </mat-form-field>
        
          <mat-form-field class="example-full-width " hintLabel="min 1 y max 1000" >
            <mat-label>Nombre del Proveedor:</mat-label>
            <input matInput type="number" #input min="1" max="1000"  placeholder="id_proveedor" [(ngModel)]="ordenCompraUpdate.proveedorId" name="nomproveedor" required>
            <mat-hint class="text-dark" align="end">{{ordenCompraUpdate.proveedorId}}/1000</mat-hint>
          </mat-form-field>
        </div>
        <div class="example-container  d-flex justify-content-center mt-5 mb-3"> 
          <button  color="basic" mat-raised-button (click)="actualizarOrdenCompra(ordenCompraUpdate)">Grabar<mat-icon class="text-dark">save</mat-icon></button>
         </div>
      </form>
    </mat-card>
  
  </div>
