<div [style.display]="'flex'" [style.justifyContent]="'center'" [style.alignItems]="'center'">
  <h1 class="fw-bold mb-0">Listar Usuarios</h1>
  <a class="btn btn-success mx-4" [routerLink]="['registrar']">Agregar</a>
</div>
<table class="table table-striped mt-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Tipo Usuario</th>
      <th scope="col">Nombre completo</th>
      <th scope="col">Usuario</th>
      <th scope="col">Estado</th>
      <th [width]="'260px'">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{usuario.nombreTipoUsuario}}</td>
      <td>{{usuario.nombreCompletoEmpleado}}</td>
      <td>{{usuario.login_usuario}}</td>
      <td>
        <span *ngIf="usuario.estado === 0">Registrado</span>
        <span *ngIf="usuario.estado === 1">Activo</span>
        <span *ngIf="usuario.estado === 2">Dado de baja</span>
      </td>
      <td [style.display]="'flex'" [style.justifyContent]="'space-around'">
        <button (click)="editarUsuario(usuario)" class="btn btn-warning btn-margin-right">Actualizar</button>
        <button (click)="eliminarUsuario(usuario)" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>